button,
.button {
  border: none;
  -webkit-appearance: none;
  background: $deliveroo-teal;
  border-radius: rem(4px);
  font-weight: bold;
  display: inline-block;
  font-size: rem(16px);
  color: $alt-text-color;
  cursor: pointer;
  transform: translateY(0);
  transition: 0.3s transform $ease-long-tail;
  animation: fadeIn 0.5s;
  padding: rem(6px);

  @media (min-width: $xsmall) {
    padding: rem(10px) rem(20px) rem(12px);
  }

  svg {
    width: rem(20px);
    position: relative;
    top: rem(4px);
    margin-right: rem(5px);
  }

  &--large {
    @media (min-width: $medium) {
      font-weight: 700;
      line-height: 24px;
      padding: rem(18px) rem(30px) rem(20px) rem(30px);
    }
  }

  &--full {
    width: 100%;
    padding: 15px 0;
  }

  &--mustard {
    background-color: $deliveroo-mustard;
    color: $white;
  }

  &--white {
    background-color: $white;
    color: $deliveroo-teal;
  }

  &--text {
    background-color: transparent;
    text-decoration: underline;
    color: $deliveroo-teal;
    font-family: $text-font-stack;
  }

  &:hover {
    box-shadow: none;
    transform: translateY(-5px);
    transition-duration: 2s;
  }

  &:active,
  &:focus {
    outline: none;
  }

  &:focus {
  }
}
