.facts {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: rem(20px);
  color: $white;

  max-width: 40%;

  animation: fadeIn 0.2s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;

  ul {
    list-style-type: none;
  }

  @media (min-width: $medium) {
    padding: rem(50px);
  }
}
