.hamburger {
    position: fixed;
    top: rem(25px);
    right: rem(20px);
    z-index: 9999;
    height: rem(50px);
    width: rem(50px);
    padding: rem(5px);
    cursor: pointer;
    color: $white;

    @media screen and (min-width: $large) {
        display: none;
    }

    svg path {
        stroke: currentColor;
    }

    &:before {
        content: '';
        background: $deliveroo-teal-dark;
        height: rem(50px);
        width: rem(50px);
        border-radius: 100%;
        display: block;
        position: absolute;
        top: rem(0px);
        right: rem(0px);
        transition: all 0.2s $ease-in-out-sexy;
    }

    &:hover, &:active, &:focus {
        &:before {
            height: rem(54px);
            width: rem(54px);
            top: rem(-2px);
            right: rem(-2px);
        }
    }

    .open & {
        &:before {
            height: rem(70px);
            width: rem(70px);
            top: rem(-10px);
            right: rem(-10px);
            background: rgba($deliveroo-teal-dark, 0);
        }
    }
}
