.hero {
  position: relative;
  overflow: hidden;
  color: $alt-text-color;
  margin-top: 0;

  &__column {
    width: 100%;
    text-align: center;

    p {
      margin-bottom: 0;
    }

    padding: 30px 0;

    @media (min-width: $medium) {
      width: 50%;
      text-align: left;
      padding: 0;

      &:first-of-type {
        margin-right: 10%;
        padding-bottom: rem(78px);
      }

      &:last-of-type {
        margin-left: 10%;
      }
    }
  }

  &__trophy {
    position: relative;
    z-index: 10001;
    text-align: center;
    padding: 100px 0 0 0;

    svg {
      height: 300px;

      @media (min-width: $medium) {
        height: 600px;
      }
    }
  }

  .hero__content {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;

    @media (min-width: $medium) {
      flex-direction: row;
    }
  }

  &--terms-and-conditions {
    background-color: $deliveroo-aubergine;
    color: $white;
    padding: rem(140px) 0 rem(60px) 0;

    .hero__content {
      text-align: center;
      max-width: rem(800px);
      margin: auto;
    }
  }


  &--homepage {
    // height: 100vh;
    background-color: $deliveroo-aubergine;

    &::after {
      content: '';
      display: block;
      background-color: $white;
      position: absolute;
      bottom: -300px;
      left: 0;
      transform: rotate(-6deg);
      transform-origin: top left;
      height: 300px;
      width: calc(100% + 40px);
      z-index: 1000;
    }


    .hero__content {
      position: relative;
      z-index: 10000;
    }

    .hero__column {
      &:first-of-type {
        margin-right: 0;
        padding: 0 0 60px 0;

        @media (min-width: $medium) {
          padding: 0 0 0 0;
        }
      }

      &:last-of-type {
        margin-left: 0;
      }
    }

    .hero__title {
      h1 {
        font-size: rem(40px);
        line-height: 1;
        margin: rem(10px) 0 rem(40px) 0;

        @media (min-width: $medium) {
          font-size: rem(54px);
          margin: rem(40px) 0 rem(50px) 0;
        }
      }
    }

    .button {
      margin-bottom: rem(28px);

      @media (min-width: $medium) {
        margin-bottom: 0;
      }
    }

    .hero__content {
      @media (min-width: $medium) {
        // align-items: flex-end;
      }
    }
  }

  &--voting-closed {
    padding-bottom: rem(160px);

    &::after {
      bottom: rem(-240px);
      left: rem(-9px);
    }
  }


  &--category {
    background-color: $deliveroo-teal;

    .hero__content {
      @media (min-width: $medium) {
        align-items: flex-end;
      }
    }

    h1 {
      margin-top: 0;
    }

    h4 {
      margin: 0 0 rem(12px) 0;
    }

    .hero__column:first-of-type {
      @media (max-width: $medium) {
        padding: 0 0 45px 0;
      }

      @media (min-width: $medium) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: rem(65px);
      }
    }

    .hero__image {
      height: 250px;

      @media (min-width: $medium) {
        height: 350px;
        position: relative;
        top: 1px;
      }

      svg,
      img {
        display: block;
        margin: auto;
        height: 100%;
        max-width: 100%;
        object-fit: contain;
        object-position: bottom;
      }
    }

    @media (min-width: $medium) {
      padding: rem(107px) 0 0 0;
      height: auto;
    }

    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 200%;
      right: 0;
      top: -290px;
      transform: rotate(15deg);
      transform-origin: bottom right;
      background-color: $deliveroo-aubergine;
      position: absolute;

      @media (min-width: $xsmall) {
        top: -250px;
      }

      @media (min-width: $small) {
        top: -200px;
      }

      @media (min-width: $medium) {
        width: 55%;
        right: 0;
        bottom: rem(120px);
        top: initial;
      }
    }

    &--second-round,
    &--winners {
      background-color: $deliveroo-aubergine;

      h4 {
        color: $deliveroo-teal;
      }

      &::before {
        background-color: $deliveroo-teal;
      }
    }

    .row {
      height: 100%;
    }

    .hero__image {
      padding-top: rem(100px);
      margin-top: 30px;

      img {
        width: 60%;
      }

      @media (min-width: $medium) {
        padding: 0;
        margin-top: 0;

        img {
          width: auto;
        }
      }
    }

    &--winners {
      .hero__content {
        align-items: center;
      }
    }
  }
}
