.nav {

  position: absolute;
  top: 0;
  left: 0;
  padding: rem(50px);

  &__list {
    list-style-type: none;

    &-item {
      color: $white;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      &.selected {
        text-decoration: underline;
      }
    }
  }

}