.main-nav {
  height: rem(100px);
  position: absolute;
  width: 100%;
  z-index: 20000;
  padding-top: 30px;

  @media (min-width: $medium) {
    padding-top: 60px;
  }

  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    list-style-type: none;

    li {
      color: $white;

      .logo {
        width: rem(140px);
      }
    }
  }

  &--hidden {
    display: none;
  }

  &--logo-only {
    .button {
      display: none;
    }
  }
}
