.results-explorer {
  display: flex;
  height: 100%;
  flex-direction: row;
  animation: fadeIn 0.5s;
  background-color: $white;

  &__nav,
  &__results {
    padding: rem(30px);
    overflow-y: scroll;
    height: 100vh;
  }

  &__nav {
    flex: 0 0 300px;
    background-color: $deliveroo-teal;

    .logo {
      margin: 0 auto 40px auto;
    }

    ul {
      list-style: none;
      li {
        color: $white;
        cursor: pointer;
        padding: 5px 0;
        font-weight: 200;
        &.selected {
          font-weight: bold;
        }
        &:first-of-type {
          padding-top: 0;
        }
        &:last-of-type {
          padding-bottom: 0;
        }
      }
    }
  }

  &__results {
    flex: 1;
    padding-bottom: rem(100px);
    background-color: $white;

    h2 {
      margin-top: 0;
    }
    hr {
      margin: 60px auto;
      width: 80%;
    }
  }

  canvas {
    margin-bottom: 30px;
    max-height: 450px;
  }

  &__results-list {
    // ul {
    //   list-style: none;
    //   li {
    //     padding: 5px 0;
    //     &:first-of-type {
    //       padding-top: 0;
    //     }
    //     &:last-of-type {
    //       padding-bottom: 0;
    //     }
    //   }
    // }
  }
}
