.suggestions {
  background-color: $smoke;
  padding: rem(78px) 0 rem(90px) !important;
  &__title {
    h2 {
      margin-top: 0;
    }
  }
  &__content {
    @media (min-width: $medium) {
      width: rem(700px);
      margin: auto;
    }

    @media (min-width: $large) {
      width: rem(900px);
    }
  }
  &__column-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media (min-width: $medium) {
      height: rem(360px);
      flex-direction: row;
    }
  }

  &__column {
    height: 100%;

    @media (min-width: $medium) {
      width: calc(50% - 15px);
    }
  }

  &__text-container {
    p {
      margin: 0;
    }
  }

  &__success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    svg {
      height: rem(140px);
    }
  }

  &__image {
    margin-bottom: rem(60px);

    @media (min-width: $medium) {
      margin-bottom: 0;
    }

    svg {
      position: relative;

      @media (min-width: $medium) {
        top: rem(26px);
      }
      @media (min-width: $large) {
        top: rem(31px);
      }
    }
  }

  &__form,
  &__text-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .form-input {
      margin-bottom: rem(15px);
      @media (min-width: $medium) {
        margin-bottom: 0;
      }
    }

    .button {
      margin-top: rem(10px);
    }
  }
}
