.tile-grid {
  position: relative;
  z-index: 1000;
  background-color: $white;

  &__label {
    text-align: center;
    * {
      margin: 0;
    }
  }

  &__container {
    display: flex;
    margin: 0 -15px;

    @media (min-width: $medium) {
      flex-wrap: wrap;
    }
  }

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: $medium) {
      display: none;
    }
  }

  &__arrow {
    height: rem(20px);
    cursor: pointer;

    svg {
      height: 100%;
    }

    &--right {
      padding-left: 30px;
    }

    &--left {
      padding-right: 30px;
      svg {
        transform: rotate(-180deg);
      }
    }

    &--disabled {
      opacity: 0.2;
      pointer-events: none;
    }

    @media (min-width: $medium) {
      display: none;
    }
  }

  &--category {
    .row--full-mobile {
      @media (min-width: $medium) {
        max-width: 1080px;
      }
    }
    .tile-grid__container {
      flex-direction: row;
      overflow-x: scroll;
      margin: 0;
      display: inline-flex;
      width: 100%;

      @media (min-width: $medium) {
        display: flex;
        overflow-x: hidden;
        margin: 0 $grid-margin * -0.5;
      }
    }
  }

  &--restaurant,
  &--winners {
    padding-bottom: 30px;
    @media (max-width: $medium) {
      padding-bottom: 0;
    }
    .tile-grid__container {
      flex-direction: column;

      @media (min-width: $medium) {
        flex-direction: row;
      }
    }
  }

  &--winners {
    padding-top: 0;
    background-color: $deliveroo-aubergine;
  }
}
