.page {
  &--category {
    position: relative;
    z-index: 1000;
  }

  &--terms-and-conditions {
    background-color: $white;
    text-align: left;
    a {
      color: $deliveroo-aubergine !important;
      font-weight: bold;
    }
  }
}
